@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    font-family: 'poppins' ,sans-serif;
}

body{
    background-image: url("login_pics.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    
}
span{
    color: #000000;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #000000;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 0 0 0 45px;
    background: #808080;
    outline: none;
    cursor:pointer;
}
.input-field11 .input{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 0 0 0 45px;
    background: #808080;
    outline: none;
    margin-bottom:-30px;
     cursor:pointer;
   
    
}

i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: #000000;
    background: #ff8000;
    cursor: pointer;
    transition: .3s ;
}
.submit11{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 23%;
    color: #000000;
    background: #ff8000;
   
    transition: .3s ;
    justify-content: center;
}
#forgetId{
    margin-top:-150px
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.submit11:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    
}
.two-col{
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    font-size: small;
    margin-top: 10px;
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
    color: #000000;
}
.rare{
  background: none;
  color:#000000;
  padding: 6px 135px;
  font-size: 16px;
  font-family: "montserrat";
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden
}
